<!DOCTYPE html>
<html>
  <head>
    <title>Be OutPut !!　 (b 'w')</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header-wrapper">
        <h1 class="header-title"><a href="/" class="serif_df">Be OutPut !!</a></h1>
        <div class="form-wrapper">
          <i class="fas fa-search"></i>
          <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <%= form.submit "検索", class: "search-btn" %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="user_nav">
            <div class="user_menu"><%= current_user.nickname %>
              <ul>
                <li >
                  <%= link_to "マイページ", "/users/#{current_user.id}", class: 'btn btn-info' %>
                  <%= link_to  "投稿する", "/tweets/new", class: 'btn btn-warning', data: {"turbolinks" => false}  %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
                </li>
              </ul>
            </div>
          </div>
        <% else %>
          <div class="user_info">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <div class="footer-wrapper">
      <footer>
        <p class="serif_df">
          Copyright 2020. Be OutPut !!
        </p>
      </footer>
    </div>
  </body>
</html>